{% include "partials/case_summary.md.j2" %}
{% include "partials/gold_standard_ref.md.j2" %}
{% include "partials/results_comparison.md.j2" %}
{% include "partials/attribution.md.j2" %}
{% include "partials/correction_spec.md.j2" %}
{% include "partials/project_progress.md.j2" %}
{% include "partials/verdict.md.j2" %}

